.wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-upload-card {
  width: 80%;
}

.upload-file-name {
  overflow-x: hidden;
}

.upload-logo-img {
  margin-right: 1rem;
  height : 4rem;


}
